{% extends '::base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th>status</th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.getId() }}</td>
                <td>{{ employee.getName() }}</td>
                <td>{{ employee.getSurname() }}</td>
                <td>{{ employee.getItemStatus() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}