{% extends '::base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <th>id</th>
            <th>absence type</th>
            <th>date from</th>
            <th>date to</th>
        </tr>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.getId() }}</td>
                <td>{{ absence.getAbsenceType() }}</td>
                <td>{{ absence.getDateFrom() }}</td>
                <td>{{ absence.getDateTo() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}